numpy  # BSD
colorlog  # MIT
websockets  # BSD
requests  # Apache-2.0
PyYAML  # MIT
setuptools
starlette  # BSD
fastapi  # MIT
pydantic  # MIT
retrying  # Apache-2.0
joblib  # BSD
pandas  # BSD
six>=1.13.0  # MIT
minio  # Apache-2.0
uvicorn  # BSD
yapf
mypy
pylint
python-socketio
aiohttp
matplotlib
scipy
wandb
gym
datasets
transformers
tensorflow
tensorflow-datasets
torch
torchvision

Cython
opencv-python>=4.1.2
Pillow
# tensorboard>=2.2
tqdm>=4.41.0
seaborn>=0.11.0
thop 
pycocotools-fix>=2.0  # COCO mAP
boto3
